<!-- <link rel="stylesheet" href="https: //cn-font.claude-code-best.win/packages/lywkpmydb/dist/LXGWWenKaiScreen/result.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@wc1font/lxgw-wen-kai-screen@1.0.3/font.min.css">
<link href="https://fontsapi.zeoseven.com/442/main/result.css" onload="this.rel='stylesheet'" rel="preload" as="style"
    crossorigin />
<noscript>
    <link rel="stylesheet" href="https://fontsapi.zeoseven.com/442/main/result.css" />
</noscript>
{{ partial "katex.html" . }}