<!-- require APlayer -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">
<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<!-- require MetingJS -->
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>

<meting-js server="netease" type="playlist" id="13270992162" fixed="true" autoplay="true" loop="all" order="list"
    preload="auto" volume="0.7" mutex="true">
</meting-js>
<!-- <script>
    ap = null
    Object.defineProperty(document.querySelector('meting-js'), "aplayer", {
        set: function (aplayer) {
            ap = aplayer
            ready();
        }
    });

    isRecover = false;
    function ready() {
        ap.on('canplay', function () {
            if (!isRecover) {
                if (localStorage.getItem("musicIndex") != null) {
                    musicIndex = localStorage.getItem("musicIndex");
                    musicTime = localStorage.getItem("musicTime");
                    if (ap.list.index != musicIndex) {
                        ap.list.switch(musicIndex);
                    } else {
                        ap.seek(musicTime);
                        ap.play();
                        localStorage.clear();
                        isRecover = true;
                    }
                } else {
                    isRecover = true;
                }
            }
        });
    }

    window.onbeforeunload = function (event) {
        if (!ap.audio.paused) {
            musicIndex = ap.list.index;
            musicTime = ap.audio.currentTime;
            localStorage.setItem("musicIndex", musicIndex);
            localStorage.setItem("musicTime", musicTime);
        }
    };
</script> -->